<% @animals.each do |animal| %>
<p>Name: <%= animal.name %></p>
<p>Type: <%= animal.type %></p>
<p>Breed: <%= animal.breed %></p>
<p>Age: <%= animal.age %></p>
<p>Admission_date: <%= animal.admission_date %></p>
<p>Ready_to_adopt: <%= animal.ready_to_adopt %></p>
<p>owner: <%= animal.owner.owner_name %></p>



<p><a href="/animals/<%= animal.id %>/edit">Edit Animal</a></p>

<p><a href="/animals/<%= animal.id %>/delete">Delete Animal</a></p>

<% end %>
